﻿/*  Tabs */
div.tab-container {
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    filter: alpha(opacity=97);
    margin-left: 50px;
    margin-top: 20px;
    opacity: 0.97;
    padding: 0 !important;
    z-index: 10;
}

div.tab-menu {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

div.tab-menu div.list-group { margin-bottom: 0; }

div.tab-menu div.list-group > a { margin-bottom: 0; }

div.tab-menu div.list-group > a:first-child {
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

div.tab-menu div.list-group > a:last-child {
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

div.tab-menu div.list-group > a.active,
div.tab-menu div.list-group > a.active .fa {
    background-color: #5A55A3;
    background-image: #5A55A3;
    color: #ffffff;
}

div.tab-menu div.list-group > a.active:after {
    border-bottom: 13px solid transparent;
    border-left: 0;
    border-left: 10px solid #5A55A3;
    border-top: 13px solid transparent;
    content: '';
    left: 100%;
    margin-top: -13px;
    position: absolute;
    top: 50%;
}

div.tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.tab div.tab-content:not(.active) { display: none; }

a.list-group-item { height: 15vh }