﻿<div id="regFace-container" data-ng-controller="RegFaceCtrl">

    <h1>Facial Recognition</h1>
    
    <canvas width="320" id="canvasFACEREC" height="240" style="-moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); display: inline; transform: rotateY(180deg);"></canvas>
    
    <img id="imgFace1" src="\Images\user.jpg" alt="Face1" style="height: 10vw; width: 10vw;">
    <img id="imgFace2" src="\Images\user.jpg" alt=" face2" style="height: 10vw; width: 10vw;">
    <img id="imgFace3" src="\Images\user.jpg" alt="Face3" style="height: 10vw; width: 10vw;">
    <img id="imgFace4" src="\Images\user.jpg" alt="Face4" style="height: 10vw; width: 10vw;">
    <img id="imgFace5" src="\Images\user.jpg" alt="Face5" style="height: 10vw; width: 10vw;">
    <img id="imgFace6" src="\Images\user.jpg" alt="Face6" style="height: 10vw; width: 10vw;">
    <img id="imgFace7" src="\Images\user.jpg" alt="Face7" style="height: 10vw; width: 10vw;">
    <img id="imgFace8" src="\Images\user.jpg" alt="Face8" style="height: 10vw; width: 10vw;">
</div>