﻿<div id="regPin-container" data-ng-controller="RegPinCtrl">

    <h1>Pin</h1>
    <p>Please enter a 4 - 16 digit pin, Click 'Go!' and re-enter your pin to confirm</p>
    <p>*Note: The numbers position on the grid may move each login</p>
    
    <div id="regPinLock">
        <input type="password" id="regPinTxt" disabled="" />
        <table id="regPinGrid">
            <tr>
                <td>
                    <button class="pinBtn" data-ng-click="enterPin(pinGrid.pin1);">{{pinGrid.pin1}}</button>
                </td>
                <td>
                    <button class="pinBtn" data-ng-click="enterPin(pinGrid.pin2);">{{pinGrid.pin2}}</button>
                </td>
                <td>
                    <button class="pinBtn" data-ng-click="enterPin(pinGrid.pin3);">{{pinGrid.pin3}}</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="pinBtn" data-ng-click="enterPin(pinGrid.pin4);">{{pinGrid.pin4}}</button>
                </td>
                <td>
                    <button class="pinBtn" data-ng-click="enterPin(pinGrid.pin5);">{{pinGrid.pin5}}</button>
                </td>
                <td>
                    <button class="pinBtn" data-ng-click="enterPin(pinGrid.pin6);">{{pinGrid.pin6}}</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="pinBtn" data-ng-click="enterPin(pinGrid.pin7);">{{pinGrid.pin7}}</button>
                </td>
                <td>
                    <button class="pinBtn" data-ng-click="enterPin(pinGrid.pin8);">{{pinGrid.pin8}}</button>
                </td>
                <td>
                    <button class="pinBtn" data-ng-click="enterPin(pinGrid.pin9);">{{pinGrid.pin9}}</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="pinBtnClear" data-ng-click="clearPin();">Clr</button>
                </td>
                <td>
                    <button class="pinBtn" data-ng-click="enterPin(pinGrid.pin10);">{{pinGrid.pin10}}</button>
                </td>
                <td>
                    <button class="pinBtnGo" id="submitPin" data-ng-click="setPin();">Go!</button>
                </td>
            </tr>
        </table>
    </div>
    
    <span id="regPinEntered">

        <p>{{pinNoticeText}}</p>
    </span>

</div>