﻿<div id="logBar-container" data-ng-controller="LogBarCtrl">

    <h1>
        Barcode
    </h1> 
    
    <canvas width="320" id="canvasBARCODE" height="240" style="-moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); display: inline; transform: rotateY(180deg);"></canvas>

</div>