﻿<div id="logFace-container" data-ng-controller="LogFaceCtrl">

    <h1>
        Facial Recognition
    </h1> 
    
    <canvas width="320" id="canvasFACEREC" height="240" style="-moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); display: inline; transform: rotateY(180deg);"></canvas>

</div>