﻿<div id="logHand-container" data-ng-controller="LogHandCtrl">

    <h1>
        Hand Geometry
    </h1> 
    
    <canvas width="320" id="canvasHANDGEO" height="240" style="-moz-transform: rotateY(180deg); -webkit-transform: rotateY(180deg); display: inline; transform: rotateY(180deg);"></canvas>

</div>