﻿<div id="login-container" data-ng-controller="LoginCtrl">
    
    <div style="display: none">
        <video autoplay></video>
    </div>

    <!-- Tab selection -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-8 col-xs-9 tab-container">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 tab-menu">
                        <div class="list-group">
                            <a href="#" class="list-group-item active text-center authTypeVideo">
                                Facial Recognition
                            </a>
                            <a href="#" class="list-group-item text-center authTypeVideo">
                                Hand Geometry
                            </a>
                            <a href="#" class="list-group-item text-center authTypeVideo">
                                Barcode
                            </a>
                            <a href="#" class="list-group-item text-center">
                                Pin
                            </a>
                            <a href="#" class="list-group-item text-center">
                                Password
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 tab">
                        <div class="tab-content active">
                            <div class="logAuthType" id="logFace-view" data-ng-include="'/App/Views/Login/LogFaceView.html'"></div>
                        </div>
                        <div class="tab-content">
                            <div class="logAuthType" id="logHand-view" data-ng-include="'/App/Views/Login/LogHandView.html'"></div>
                        </div>
                        <div class="tab-content">
                            <div class="logAuthType" id="logBar-view" data-ng-include="'/App/Views/Login/LogBarView.html'"></div>
                        </div>
                        <div class="tab-content">
                            <div class="logAuthType" id="logPin-view" data-ng-include="'/App/Views/Login/LogPinView.html'"></div>
                        </div>
                        <div class="tab-content">
                            <div class="logAuthType" id="logPass-view" data-ng-include="'/App/Views/Login/LogPassView.html'"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>