﻿<div id="logPass-container" data-ng-controller="LogPassCtrl">

    <h1>
        Password
    </h1> 
    <p>Please enter in your password.</p>
    <input id="logPass" type="password" placeholder="Password"/>
    <button data-ng-click="submitPass();" >Authenticate</button>

    <p>{{authMessage}}</p>
</div>